@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff'),
        url('../fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/AcuminPro-BoldItalic.woff') format('woff'),
        url('../fonts/AcuminPro-BoldItalic.ttf') format('truetype'),
        url('../fonts/AcuminPro-BoldItalic.svg#AcuminPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}